.rel-card-background-top {
  height: 36em;
  cursor: pointer;
}

.rel-title-card-profile {
  width: 100%;
  height: 10em;
  background-image: url("/assets/img/triangulo-fondo-card.svg"),
    url("/assets/img/triangulo-fondo-card.png");
  background-color: #ffffff;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.rel-text-title-card {
  color: #ffffff;
  font-weight: 300;
}

.rel-imagen-profile-card-out {
  margin-top: 3em;
  display: inline-block;
  position: absolute;
  height: 7.5em;
  width: 7.5em;
  background: #F05545;
  box-sizing: border-box;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.rel-imagen-profile-card {
  height: 7em;
  width: 7em;
  position: absolute;
    top: 4px;
  left: 4px;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.rel-body-card-profile {
  margin-top: 2.5em;
}

.rel-title-card-body {
  font-size: 13px;
  font-weight: 700;
}

.rel-profile-card-personal-data {
  margin-bottom: 0.5em;
}
